.article_title
{
  font-weight: bold;
  font-size: 25px;
}
.article_title a
{
	color:blue;
  text-decoration:none;
}
.article_box
{
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
  min-height:80px;
}

.article_date
{
  padding: 10px 0 10px 0;
}

.article_preview
{
}

.article_box_admin
{
  margin: 10px;
  border: 1px solid black;
  padding: 5px 45px 5px 5px;
  position:relative;
}
.delete_article
{
	width:40px;
	height:40px;
	position:absolute;
	right:0px;
	bottom:0px;
	top:0px;
	background-color:red;
}
.edit_article
{
	width:40px;
	height:40px;
	position:absolute;
	right:0px;
	top:40px;
	background-color:green;
}


.article_box_full
{
margin:10px 20px 10px 20px;

}

.article_title_full
{
font-family:Times New Roman;
font-size:28px;
}

.article_date_full
{


}

.article_content
{


}

.article_content pre
{
	word-wrap:break-word;
	white-space:pre-wrap;
	font-family:Times New Roman;
}
.article_preview pre
{
	word-wrap:break-word;
	white-space:pre-wrap;
	font-family:Times New Roman;

	
}

.loader
{
margin:auto;

width: 48px;
height: 48px;
/*! margin: 20px; */
padding: 0px;
/*! display: block; */
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
.loader li
{
	border-radius:14px;
	width:14px;
	height:14px;
	/*! margin-top:-7px; */
	/*! margin-left:-7px; */

	padding: 0px;
	margin: -7px 0px 0px -7px;
}
#throbber
{
	position:fixed;
	z-index:9999;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display:none;
	/*! width: 100%; */
	/*! display: flex; */
	padding: 0px;
	/*! align-content: center; */
	/*! justify-content: center; */
	/*! margin: auto; */
	background-color: #d8d8d866;
}

.loader li {
   position: absolute;
    display: block;
    /*border-radius: 1px;*/
    background-color: #999;
   /* width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;*/
    opacity: 0;
    -webkit-animation: blink .8s ease infinite;
}

.loader li:nth-child(1) {
    top: 0%;
    left: 50%;
}

.loader li:nth-child(2) {
    top: 15%;
    left: 85%;
    -webkit-animation-delay: .1s;
}

.loader li:nth-child(3) {
    top: 50%;
    left: 100%;
    -webkit-animation-delay: .2s;
}

.loader li:nth-child(4) {
    top: 85%;
    left: 85%;
    -webkit-animation-delay: .3s;
}

.loader li:nth-child(5) {
    top: 100%;
    left: 50%;
    -webkit-animation-delay: .4s;
}

.loader li:nth-child(6) {
    top: 85%;
    left: 15%;
    -webkit-animation-delay: .5s;
}

.loader li:nth-child(7) {
    top: 50%;
    left: 0%;
    -webkit-animation-delay: .6s;
}

.loader li:nth-child(8) {
    top: 15%;
    left: 15%;
    -webkit-animation-delay: .7s;
}

@-webkit-keyframes blink {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(.5);
        opacity: 0;
    }
}


