#comments_box{
	margin:0px 20px;
}
.comment_content{
  margin: 10px 0px;
}
.comment_date{
}
.comment_author{
  font-size: 25px;
}
.comment_user_author
{
   font-size: 28px;
   color:white; text-shadow: 1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px black;
}
.comment_user_author:before
{
  content:"[";
}
.comment_user_author:after
{
  content:"]";
}
.comment_text{
  overflow-wrap: break-word;
  font-family:Arial;
  font-size:10pt;
}
.comment_header
{
  /*! font-size: 25px; */
  background-color: #1ec9e6;
}

#comment_add_text
{	width:100%;
	resize: vertical;
	min-height:100px;
  font-family:Arial;
  font-size:10pt;
}
.comments_count
{

	
  /*! margin: auto; */
  text-align: center;
}
#comment_add_box
{
	margin:0px 20px;

}

#add_commentary
{
	display:block;

}