#company_box
{




	/*! margin-top: 5px; */
	/*! margin-bottom: 20px; */
	/*! margin-left: 5px; */
	margin: 5px 5px 20px 5px;
	background-color: #e6e6e6;
	border: 1px black dashed;
	padding: 5px;
}
#company_description
{
	
	
	
}
#company_block
{
	
	
	
	
	margin: 20px;
}

#company_box dd
{


	
	padding-bottom: 10px;
	/*! border-bottom: 1px dashed; */
}
#company_add_form input
{
	display:inline-block;
}
.company_item
{
	padding-left:5px;
	border-left:2px black solid;
	
	margin: 0px 0px 0px 15px;
}
#company_name{
	
	
	
	font-size: 200%;
}
.company_logo
{
	
	
	width: 130px;
	display: inline;
	float: left;
}
.company_preview_block
{
	
	display:flex;
	flex-direction:row;
	margin: 5px 20px 5px 20px;
}
#company_box dl
{



	
}
.company_name_preview
{
	margin-bottom:10px;
	font-size:120%;
	color:blue;
}
#company_box dt
{


width:40%;
float:left;

	
/*! margin: 0px 0px 10px 0px; */
}




.center_button
{
	margin-top:10px;
	display:flex;
	justify-content: center;
}
.button
{
background-color:#1bb61b;
    border:1px solid green;
  	padding:10px;
}
.button:hover
{background-color:green;
    cursor:pointer;
}
.button:active
{
    background-color:#145314;
}