.modal,#myModalConfirm{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
   /* width: 80%; *//* Could be more or less, depending on screen size */
   width:200px;
    display:flex;
    flex-direction: column;
    overflow:hidden;
}
#error_button
{
    margin:auto;

}
#modal_overlay_error
{
    display:none;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal_error
{
overflow-wrap:break-word;

}

#login,#password
{
    padding: 12px 20px;
    margin:10px 0px 10px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display:block;
}
.modal-header h2
{
    display:block;
    font-size:28px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body
{
    display:flex;
    flex-direction:column;
    align-content:center;
}

#modal-confirm
{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
   /* width: 80%; *//* Could be more or less, depending on screen size */
    display:table;

}

.modal_button
{
background-color:#1bb61b;
    border:1px solid green;
    float:left;
    padding:10px 30px;
    width:50%;
}
.modal_button:hover
{background-color:green;
    cursor:pointer;
}
.modal_button:active
{
    background-color:#145314;
}