.news_title
{
  font-weight: bold;
  font-size: 25px;
}
.news_box
{
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
}

.news_date
{
  padding: 10px 0 10px 0;
}

.news_preview
{
}